﻿@model IEnumerable<Doxin.Core.models.CompanyType>

@{
    ViewBag.Title = "Company Type Listing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
}
@section scripts {
    <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">

    </script>
    <script>
        $(document).ready(function () {
            $('#companyTypeList').DataTable(
                {
                    stateSave: true,
                    "scrollY": "600px",
                    "scrollCollapse": true,
                    "columnDefs": [{ "width": "5%", "targets": 0 },
                        {"width":"30%"}
                    ]
                }
            );
        });
    </script>
    <script>
        $(document).on('click', '#companyTypeList tbody tr', function (event) {
            $(this).addClass('highlight').siblings().removeClass('highlight');
        });
    </script>
}
<h2>Company Types</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new {@class="btn btn-info" })
</p>
<div class="container">
    <div class="col col-md-10">
        <table id="companyTypeList" class="display table table-hover" style="width:75%">
            <thead>
                <tr>
                    <th scope="col" class="col-sm-2"> </th>
                    <th scope="col" class="col-md-12"> @Html.DisplayNameFor(model => model.CT_CompanyType)</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Edit", "CompanyTypes", new { id = item.CT_ID }, null)"><i class="fas fa-angle-double-right" style="color:dodgerblue"></i>&nbsp;</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CT_CompanyType)
                        </td>
                        <th>
                            <a href="@Url.Action("Delete", "CompanyTypes", new { id = item.CT_ID }, null)"><i class="fas fa-trash-alt" style="color:darkred"></i>&nbsp;</a>
                        </th>
                    </tr>
                }
            </tbody>

        </table>
    </div>
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        string cardType = ViewBag.Success == "true"? "border border-success mb-3" : "border border-warning mb-3";

        string header = ViewBag.Success == "true"? "Successfull" : "Warning";
        <div class="@cardType" >

            <div class="card-header">@header</div>
            <div class="card-body">
                <h4 class="card-title">@ViewBag.Operation</h4>
                <p class="card-text">@ViewBag.ErrorMessage</p>
            </div>
        </div>
    }

</div>
