﻿@model Doxin.Core.models.DateType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DateType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DT_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DT_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DT_DateType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DT_DateType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DT_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
