﻿@model IEnumerable<Doxin.Core.models.DateType>

@{
    ViewBag.Title = "Date Type Listing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
}
@section scripts {
    <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">

    </script>
    <script>
        $(document).ready(function () {
            $('#dateTypeList').DataTable(
                {
                    stateSave: true,
                    "scrollY": "600px",
                    "scrollCollapse": true,
                    "columnDefs": [{
                        "width": "5%", "targets": 0
                    }, {
                        "width": "20%", "targets": 1
                    }]
                }
            );
        });
    </script>
    <script>
        $(document).on('click', '#dateTypeList tbody tr', function (event) {
            $(this).addClass('highlight').siblings().removeClass('highlight');
        });
    </script>
}
<h2>Date Types</h2>
<div class="table-responsive">
    <table id="dateTypeList" class="display table table-hover" style="width:55%">
        <thead>
            <tr>
                <th></th>
                <th scope="col"> @Html.DisplayNameFor(model => model.DT_Name)</th>
                <th scope="col"> @Html.DisplayNameFor(model => model.DT_DateType)</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr class="clickableRow">
                    <th>
                        <a href="@Url.Action("Edit", "DateTypes", new { id = item.DT_Id }, null)"><i class="fas fa-angle-double-right" style="color:dodgerblue"></i>&nbsp;</a>
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.DT_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DT_DateType)
                    </td>
                    <th>
                        <a href="@Url.Action("Delete", "DateTypes", new { id = item.DT_Id }, null)"><i class="fas fa-trash-alt" style="color:darkred"></i>&nbsp;</a>
                    </th>
                </tr>
            }

        </tbody>
    </table>
</div>
@Html.Partial("_StatusMessages", new DoxIn.Web.Models.ApplicationStatusMessage
{
     Message = ViewBag.Message,
      Operation = ViewBag.Operation,
      Success = ViewBag.Success == "true" ? true : false
})
