﻿
@{
    ViewBag.Title = "Access Denied";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<h2>Access Denied</h2>
<h3 class="text-danger">You do not have permission to view this resource. </h3>
<div>
    @ViewBag.ErrorMessage
</div>

