﻿@model  DoxIn.Web.Models.ApplicationRoleViewModel

@{
    ViewBag.Title = "Add DoXin Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create new Role</h2>
@using (Html.BeginForm("AddRole", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-row">
        <div class="col-sm-2">
            Role Name
        </div>
        <div class="col-md-8">
            @Html.EditorFor(r => r.Role.Name, new { @class = "form-control" })
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-user-shield"></i>  Save
            </button>
        </div>

    </div>

}
@Html.Partial("_StatusMessages", new DoxIn.Web.Models.ApplicationStatusMessage
{
    Message = ViewBag.ErrorMessage,
    Operation = ViewBag.Operation,
    Success = ViewBag.Success == "true" ? true : false
})

<p>
    @Html.ActionLink("Back to List", "ListRoles", "Account", new { @class = "btn btn-secondary" })
</p>

