﻿@model DoxIn.Web.Models.ApplicationRoleViewModel

@{
    ViewBag.Title = "Security Role Listing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
}
@section scripts {
    <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">

    </script>
    <script>
        $(document).ready(function () {
            $('#usersInRole').DataTable(
                {
                    stateSave: true,
                    "scrollY": "600px",
                    "scrollCollapse": true,
                    "columnDefs": [{
                        "width": "30%", "targets": 0
                    }, {
                        "width": "30%", "targets": 1
                        },
                        {
                            "width": "15%", "targets": 2
                        },
                        {
                            "width": "5%", "targets": 4
                        }
                            ]
                }
            );
        });
    </script>
    <script>
        $(document).on('click', '#usersInRole tbody tr', function (event) {
            $(this).addClass('highlight').siblings().removeClass('highlight');
        });
    </script>
}

<h2>Role Details</h2>


    <h4>@Model.Role.Name</h4>
    <hr />


    <div class="container">
        <div class="table-responsive">
            
            <table id="usersInRole"  class="display table hover">
                <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Company Code</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Users)
                    {
                    <tr class="clickable-row">
                        <td>@Html.DisplayFor(u => user.FirstName)</td>
                        <td>@Html.DisplayFor(u => user.LastName)</td>
                        <td>@Html.DisplayFor(u => user.UserName)</td>
                        <td>@Html.DisplayFor(u => user.CompanyCode)</td>
                        <td><a href="@Url.Action("RemoveUserFromRole","Account",new { id=Model.Role.Id, @userid=user.Id})"><i class="fas fa-trash-alt" style="color:darkred"></i>&nbsp;</a></td>
                        
                    </tr>
                    }
                </tbody>
            </table>
            
        </div>
    </div>

<p>
    @Html.ActionLink("Back to List", "ListRoles","Account",new {@class="btn btn-secondary" })
</p>
