﻿@model IEnumerable<DoxIn.Web.Models.ApplicationUserViewModel>
@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
}
@section scripts {
    <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">

    </script>
    <script>
        $(document).ready(function () {
            $('#userList').DataTable(
                {
                    stateSave: true,
                    "scrollY": "600px",
                    "scrollCollapse": true,
                    columnDefs: [{
                        targets: [0],
                        orderData: [0, 1]
                    }, {
                        targets: [1],
                        orderData: [1, 0]
                    }, {
                        targets: [4],
                        orderData: [4, 0]
                    }]
                }
            );
        });
    </script>
    <script>
        $(document).on('click', '#userList tbody tr', function (event) {
            $(this).addClass('highlight').siblings().removeClass('highlight');
        });
    </script>
    }

    <h2>User List</h2>

<div>
    <a href="@Url.Action("Register","Account")" class="btn btn-info"><i class="fas fa-user-plus"></i>  Add New User</a>
</div>
<hr />
    <div class="table-responsive">
        <table id="userList" class="display table table-hover" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col" class = "text-nowrap col-form-label " >User Name</th>
                    <th scope="col" class = "text-nowrap col-form-label " >First Name</th>
                    <th scope="col" class = "text-nowrap col-form-label " >Last Name</th>
                    <th scope="col" class = "text-nowrap col-form-label " >Email</th>
                    <th scope="col" class = "text-nowrap col-form-label " >Company Code</th>
                    <th scope="col" class = "text-nowrap col-form-label " >Locked Out</th>
                    <th scope="col" class = "text-nowrap col-form-label " >Is Active</th>
                    <th scope="col" class = "text-nowrap col-form-label " >Is Logged in</th>
                    <th scope="col" class = "text-nowrap col-form-label " >Last Logged In</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {

                    <tr class="clickableRow">

                        <td>

                            <a href="@Url.Action("UserDetails", "Account", new { @userid = user.User.Id }, null)"><i class="fas fa-angle-double-right" style="color:dodgerblue"></i>&nbsp;</a>
                        </td>
                        <td>

                            @Html.DisplayFor(modelItem => user.User.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.User.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.User.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.User.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.User.CompanyCode)
                        </td>
                        <td>
                            @if (user.User.IsLockedOut)
                                {
                                    <i class="errorfound-color fas fa-exclamation-circle"></i>

                                }
                            
                            @Html.CheckBoxFor(modelItem => user.User.IsLockedOut, new { @disabled = "disabled" })
                        </td>
                        <td>
                            @Html.CheckBoxFor(modelItem => user.User.IsActive, new { @disabled = "disabled" })
                        </td>
                        <td>
                            @Html.CheckBoxFor(modelItem => user.User.IsLoggedIn, new { @disabled = "disabled" })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.User.LastLoginTime, new { @class = "text-nowrap" })
                        </td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
