﻿@model IEnumerable<DoxIn.Web.Models.RoleViewModel>

@{
    ViewBag.Title = "Security Role Listing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
}
@section scripts {
    <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">

    </script>
    <script>
        $(document).ready(function () {
            $('#roleList').DataTable(
                {
                    stateSave: true,
                    "scrollY": "600px",
                    "scrollCollapse": true,
                    columnDefs: [{"width":"5%","targets": 0}]
                }
            );
        });
    </script>
    <script>
        $(document).on('click', '#roleList tbody tr', function (event) {
            $(this).addClass('highlight').siblings().removeClass('highlight');
        });
    </script>
}
<h2>Index</h2>
<p>
    <div>
        <a href="@Url.Action("AddRole","Account")" class="btn btn-info"><i class="fas fa-file-import"></i>  Add Role</a>

    </div>
</p>
<div class="table-responsive">
    <table id="roleList" class="display table hover" style="width:50%", >
        <thead>
            <tr>
                <th></th>
                <th scope="col" class="text-nowrap col-form-label ">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>Delete</th>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
            <tr class="clickableRow">
                <td>
                    <a href="@Url.Action("EditRoles", "Account",  new { @id = role.Id }, null)"><i class="fas fa-angle-double-right" style="color:dodgerblue"></i>&nbsp;</a>
                </td>
                <td>
                    @Html.DisplayFor(item => role.Name)
                </td>
                <td>
                    <a href="@Url.Action("DeleteRole", "Account", new { @id = role.Id }, null)"><i class="fas fa-trash-alt" style="color:darkred"></i>&nbsp;</a>
                </td>
                
            </tr>
            }
        </tbody>
    </table>
</div>
@Html.Partial("_StatusMessages",new DoxIn.Web.Models.ApplicationStatusMessage
{
     Message = ViewBag.Message,
      Operation = ViewBag.Operation,
      Success = ViewBag.Success=="true"?true:false
})
