﻿@model DoxIn.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(function() {

    $("#showPassword").change(function() {
        var checked = $(this).is(":checked");           
        if (checked) {
            $("#Password").attr("type", "text");
        } else {
            $("#Password").attr("type", "password");
        }
    });

});
</script>
<h2>Create a new User</h2>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <hr />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <table class="table-borderless" width="100%">
                <tr>
                    <td>
                        @Html.LabelFor(u => u.FirstName, new { @class = "text-nowrap col-form-label " })

                    </td>
                    <td>
                        @Html.EditorFor(u => u.FirstName)
                        @Html.ValidationMessageFor(u=>u.FirstName)
                    </td>
                    <td>
                        @Html.LabelFor(u => u.LastName, new { @class = "text-nowrap col-form-label " })

                    </td>
                    <td>
                        @Html.EditorFor(u => u.LastName)
                        @Html.ValidationMessageFor(u => u.LastName)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(u => u.UserName, new { @class = "text-nowrap col-form-label " })

                    </td>
                    <td>
                        @Html.EditorFor(u => u.UserName)
                    </td>
                    <td>
                        @Html.LabelFor(u => u.CompanyCode, new { @class = "text-nowrap col-form-label " })

                    </td>
                    <td>
                        @Html.DropDownListFor(u => u.CompanyCode, new SelectList(ViewBag.CustomerList.Items, "CU_CODE", "CU_NAME", null), "none selected", new { @class = "form-control" })

                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(u => u.Email, new { @class = "text-nowrap col-form-label " })

                    </td>
                    <td colspan="3">
                        @Html.EditorFor(u => u.Email)
                        @Html.ValidationMessageFor(u => u.Email)
                    </td>
                </tr>
                <tr>
                    <td>

                        @Html.LabelFor(u => u.Password, new { @class = "text-nowrap col-form-label " })


                    </td>
                    <td colspan="3" nowrap>
                        <div class="col">
                            @Html.EditorFor(u => u.Password, new { htmlAttributes = new { @class = " form-control col-md-4", placeholder = "Password" } })
                            <input type="checkbox" id="showPassword" /> Show Password
                            @Html.ValidationMessageFor(u => u.Password)
                        </div>
                       
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div class="table-active">
                            Roles for user
                        </div>
                </tr>

                <tr>
                    <td colspan="4">
                        Add New Role to User
                    </td>
                </tr>
                <tr>
                    <td>Select Role</td>
                    <td> @Html.DropDownList("RoleList", (IEnumerable<SelectListItem>)ViewBag.Roles, "(none selected)")</td>

                </tr>
            </table>
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-user-edit"></i>  Save
            </button>


        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
