﻿@model DoxIn.Web.Models.ApplicationUserViewModel

@{
    ViewBag.Title = "UserDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <script>
    $(function() {

    $("#showPassword").change(function() {
        var checked = $(this).is(":checked");
        if (checked) {
            $("#Password").attr("type", "text");
        } else {
            $("#Password").attr("type", "password");
        }
    });

});
    </script>


    <h2>Edit User Details</h2>

@using (Html.BeginForm("UserDetails", "Account", FormMethod.Post))

{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(u => u.User.Id)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <table class="table-borderless" width="100%">
                    <tr>
                        <td>
                            @Html.LabelFor(u => u.User.FirstName, new { @class = "text-nowrap col-form-label " })

                        </td>
                        <td>
                            @Html.EditorFor(u => u.User.FirstName)
                        </td>
                        <td>
                            @Html.LabelFor(u => u.User.LastName, new { @class = "text-nowrap col-form-label " })

                        </td>
                        <td>
                            @Html.EditorFor(u => u.User.LastName)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(u => u.User.UserName, new { @class = "text-nowrap col-form-label " })

                        </td>
                        <td>
                            @Html.EditorFor(u => u.User.UserName)
                        </td>
                        <td>
                            @Html.LabelFor(u => u.User.CompanyCode, new { @class = "text-nowrap col-form-label " })

                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.User.CompanyCode, new SelectList(ViewBag.CustomerList.Items, "CU_CODE", "CU_NAME", Model.User.CompanyCode), "none selected", new { @class = "form-control" })

                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(u => u.User.Email, new { @class = "text-nowrap col-form-label " })

                        </td>
                        <td>
                            @Html.EditorFor(u => u.User.Email)
                        </td>
                        <td>
                            @Html.LabelFor(u => u.User.EmailConfirmed, new { @class = "text-nowrap col-form-label " })

                        </td>
                        <td>
                            @Html.EditorFor(u => u.User.EmailConfirmed)
                        </td>
                    </tr>
                   <tr>
                       <td>Password</td>
                       <td colspan="3">
                           @Html.EditorFor(u => u.Password, new { htmlAttributes = new { @class = "form-control col-md-4", placeholder = "Password", type="password" } })
                           <input type="checkbox" id="showPassword" /> Show Password
                           <p>@Html.ValidationMessageFor(u => u.Password)</p>
                           
                       </td>
                   </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(u => u.User.IsActive, new { @class = "text-nowrap col-form-label " })

                        </td>
                        <td>
                            @Html.EditorFor(u => u.User.IsActive)
                        </td>
                        <td>
                            @Html.LabelFor(u => u.User.IsLockedOut, new { @class = "text-nowrap col-form-label " })

                        </td>
                        <td>
                            @Html.EditorFor(u => u.User.IsLockedOut)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(u => u.User.IsLoggedIn, new { @class = "text-nowrap col-form-label " })

                        </td>
                        <td>
                            @Html.CheckBoxFor(u => u.User.IsLoggedIn, new { @disabled = "Disabled" })
                        </td>
                        <td>
                            @Html.LabelFor(u => u.User.LastLoginTime, new { @class = "text-nowrap col-form-label " })

                        </td>
                        <td>
                            @Html.DisplayFor(u => u.User.LastLoginTime)
                        </td>
                    </tr>
                    @if (Model.Roles.Any())
                    {
                        <tr>
                            <td colspan="4">
                                <div class="table-active">
                                    Roles for user
                                </div>
                        </tr>

                        <div class="card-body">
                            @foreach (var role in Model.Roles)
                            {
                                <tr>
                                    <td colspan="3"> @role.Name</td>

                                    <td colspan="1">
                                        <a href="@Url.Action("RemoveRolesFromUser", "Account", new { @name =role.Name, @userid = Model.User.Id }, null)" class="btn btn-primary"><i class="fas fa-minus-square"></i>  Remove</a>
                                    </td>
                                </tr>


                            }
                        </div>
                    }
                    else
                    {
                        <tr>
                            <td colspan="2">
                                <div class="border-danger card mb-3">
                                    User does not have any roles.
                                </div>

                            </td>

                        </tr>
                    }
                    <tr>
                        <td colspan="4">
                            Add New Role to User
                        </td>
                    </tr>
                    <tr>
                        <td>Select Role</td>
                        <td> @Html.DropDownList("RoleList", (IEnumerable<SelectListItem>)ViewBag.Roles, "(none selected)")</td>
                       
                    </tr>
                </table>
                <button type="submit" class="btn btn-primary">
                   <i class="fas fa-user-edit"></i>  Save
                </button>
                
                
            </div>
        </div>
    </div>
}

<div>
    <a href="@Url.Action("ListUsers","Account")", class = "btn btn-secondary"><i class="fas fa-arrow-left"></i> Back to List</a>
</div>
