﻿@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";



body {
    
   
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}


footer.ctcfooter {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    z-index: 1;
    -webkit-transform: translateZ(0);
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 15px;
    margin-left:100px;
    margin-top:3.5em;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

select{
    max-width: 280px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}


/*
    CTC formatting section
*/
body.ctcbody {
    background-color:black;
    color:white;

}
.header {
    height:100px;
    width:100%;
}
.logo {
    height: 200px;
    width: 100%;
    text-align: center;
}

.centered{
    margin:auto;
    width:50%;
    padding:20px;
    padding-top:100px;
}

.ctcfooter {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    z-index: 1;
    -webkit-transform: translateZ(0);
}

.bg-filter {
    background-color: lightgray !important;
}

.bg-ctc {
    background-color: #333 !important;
}

.ctc-nav {
    background-color: #333;
    color: white;
    position: fixed;
    top: 0px;
    width: 70%;
    padding-right:3em;
    z-index: 1;
    -webkit-transform: translateZ(0);
}

#sidebar {
    min-width: 80px;
    max-width: 250px;
    background: #5e0000;
    position: fixed;
    color: #fff;
    transition: all 0.3s;
}

    #sidebar.active {
        margin-left: -250px;
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: #2d2a2a;
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

        #sidebar ul li a:hover {
            color: #2d2a2a;
            background: #fff;
        }

    #sidebar ul li.active > a,
    a[aria-expanded="true"] {
        color: #fff;
        background: #545454;
    }

a[data-toggle="collapse"] {
    position: relative;
}

.errorfound-color {
    
    color:#ff0000;
}

.input-small {
    max-width:50px;
}

.input-med {
    max-width:100px;
}

#row {
    padding:10px;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.container.internal {
    width:80%;
    padding-right:10px;
}

#error-messages {
    color: red;
    font-weight:bolder;
}

.table tbody tr.highlight td {
    background-color: #733232;
    color: #fff;
}

.dropdown-menu  li  a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}


.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

.ctc-dropdown-item{
    display:block;
    width:100%;
    color: white;
    background:darkred;
    padding: 0.5rem 2rem;
    text-align: center;

}
    @media (max-width: 768px) {
        #sidebar {
            margin-left: -250px;
        }

            #sidebar.active {
                margin-left: 0;
            }

        #sidebarCollapse span {
            display: none;
        }
    }