﻿@model DoxIn.Web.Models.CommonInvoiceMasterDetail

@{

    //ViewBag.Title = Model.CommonInvoice.CI_InvoiceNo.Trim() + "Details";
    var invNo = Model.CommonInvoice.CI_InvoiceNo.Trim();
    Layout = "~/Views/Shared/_Layout.cshtml";


}
@section styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
}
@section scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">

    </script>
    <script>
        $(document).ready(function () {
            $('#invoiceheader').DataTable(
                {
                    "searching": false,
                    "bLengthChange": false,
                    "bPaginate": false
                }
            );
            $('#invoicedates').DataTable(
                {
                    "searching": false,
                    "bLengthChange": false,
                    "bPaginate": false
                }
            );
            $('#invoicecompanies').DataTable(
                {
                    "searching": false,
                    "bLengthChange": false,
                    "bPaginate": false
                }
            );
            $('#invoicelines').DataTable(

            );
        });
    </script>
}

<div class="container internal">
    <nav class=" ctc-nav navbar navbar-expand-lg bg-info">
        @*<a class="navbar-brand" href="#"><img src="~/images/Doxin-Logo-small.png" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>*@

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <h5>
                Process File (@Model.File.FC_DocumentIdentifier)  &nbsp; &nbsp;
                @{
                    if (!string.IsNullOrEmpty(Model.File.FC_ImageFileLocation))
                    {
                        if (File.Exists(Server.MapPath("~/" + Model.File.FC_ImageFileLocation)))
                        {
                            <a href="~/@Model.File.FC_ImageFileLocation" target="_blank">
                                @{
                                    switch (Model.File.FC_FileType)
                                    {
                                        case "PDF":<i class='far fa-file-pdf' style="color:red;"></i>

                                            break;
                                        case "JPG":<i class="far fa-file-image" style="color:mediumblue;"></i>
                                            break;
                                        case "XML":<i class="far fa-file-code" style="color:green;"></i>
                                            break;
                                        default:<i class="fas fa-file-upload" style="color:black;"></i>
                                            break;

                                    }
                                }
                                @{
                                    string fname = "";

                                    if (Model.File.FC_OriginalFileName.IndexOf(".rpa") > 0)
                                    {
                                        fname = Model.File.FC_OriginalFileName.Trim().Substring(0, Model.File.FC_OriginalFileName.IndexOf(".rpa")) + "." + Model.File.FC_FileType;
                                    }
                                    else
                                    {
                                        fname = Model.File.FC_OriginalFileName.Trim() + "." + Model.File.FC_FileType;
                                    }
                                    @fname;
                                }

                            </a>
                        }
                        else
                        {
                            @Model.File.FC_OriginalFileName.Trim()
                        }

                    }

                }
            </h5>
            @{
                if (Model.CommonInvoice.CI_ErrorsFound)
                {
                    <div class="float-right badge badge-pill badge-warning">

                        <h6><i class="errorfound-color fas fa-exclamation-circle"></i> <text>Errors Found</text></h6>
                    </div>
                }
            }
            <div class="flex-grow-1 ">
                <ul class="navbar-nav mr-auto text-right">

                    <li class="nav-item col-md-5">

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link navbar-brand dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="ctc-dropdown-item" href="@Url.Action("ProcessFile", "ConvertedFiles", new {id = Model.File.FC_ID,procAction="Released"})">Release File</a>
                            <a class="ctc-dropdown-item" href="@Url.Action("ProcessFile", "ConvertedFiles", new {id = Model.File.FC_ID,procAction="Deleted" })">Cancel File</a>

                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index","ConvertedFiles")" class="btn btn-info text-nowrap">
                            <i class="fas fa-file-import"></i>
                            </i>Back to List
                        </a>
                    </li>




                </ul>
            </div>
        </div>

    </nav>
    <div class="container">
        <div class="row">
            <div class="row">
                <h3><span class="badge badge-primary">Invoice Header Information</span></h3>
                <div class="col-sm-12">

                    <table id="invoiceheader" class="display " width="100%">
                        <thead>
                            <tr>
                                <th scope="col" style="width:20%">@Html.LabelFor(c => c.CommonInvoice.CI_InvoiceNo, new { @class = "text-nowrap col-form-label " })</th>
                                <th scope="col" style="width:20%">@Html.LabelFor(c => c.CommonInvoice.CI_ShipmentNo, new { @class = "text-nowrap col-form-label" })</th>
                                <th scope="col" style="width:20%">@Html.LabelFor(c => c.CommonInvoice.CI_CountryOfOrigin, new { @class = "text-nowrap col-form-label " })</th>
                                <th scope="col" style="width:20%">@Html.LabelFor(c => c.CommonInvoice.CI_InvoiceTerms, new { @class = "text-nowrap col-form-label" })</th>
                                <th scope="col" style="width:10%">@Html.LabelFor(c => c.CommonInvoice.CI_Currency, new { @class = "text-nowrap col-form-label " })</th>
                                <th scope="col" style="width:10%">@Html.LabelFor(c => c.CommonInvoice.CI_TotalInvoiceAmount, new { @class = "text-nowrap col-form-label " })</th>
                                <th scope="col" style="width:30%">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.CommonInvoice.CI_InvoiceNo </td>
                                <td>@Model.CommonInvoice.CI_ShipmentNo</td>
                                <td>@Model.CommonInvoice.CI_CountryOfOrigin</td>
                                <td>@Model.CommonInvoice.CI_InvoiceTerms</td>
                                <td>@Model.CommonInvoice.CI_Currency</td>
                                <td>@Model.CommonInvoice.CI_TotalInvoiceAmount</td>
                                <td>
                                    <a href="@Url.Action("UpdateHeader", "ConvertedFiles",new { @id = Model.CommonInvoice.CI_ID, @fid=Model.File.FC_ID },null)" , class="btn btn-primary text-nowrap">
                                        <i class="fas fa-edit"></i>Edit
                                    </a>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

            <div class="row">
                <h3><span class="badge badge-secondary">Invoice Dates</span></h3>
                <div class="col-sm-12">

                    @if (Model.Dates.Count() == 0)
                    {

                        <div class="card border-warning mb-3" style="max-width: 20rem;">
                            <div class="card-header">No Dates Found</div>
                            <div class="card-body">
                                <p class="card-text">Although no dates were found you can enter dates by clicking below.</p>

                            </div>
                        </div>


                    }
                    else
                    {
                        <table id="invoicedates" class="display table " width="90%">
                            <thead>
                                <tr>
                                    <th scope="col">Errors</th>
                                    <th scope="col" style="width:30%">Date Type</th>
                                    <th scope="col" style="width:30%">Estimate Date</th>
                                    <th scope="col" style="width:30%">Actual Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var date in Model.Dates)
                                {
                                    <tr>
                                        <td>
                                            @if (date.DA_ErrorsFound)
                                            {
                                                <i class="errorfound-color fas fa-exclamation-circle"></i>
                                            }
                                            else
                                            {
                                                <text>&nbsp;</text>
                                            }
                                        </td>
                                        <td>
                                            @if (date.DA_DateType == null)
                                            {
                                                <text>---</text>
                                            }
                                            else
                                            {
                                                @date.DA_DateType.DT_Name
                                            }


                                        </td>
                                        <td>@date.DA_EstimateDate</td>
                                        <td>@date.DA_ActualDate</td>
                                        <td>
                                            <a href="@Url.Action("UpdateDates", "ConvertedFiles",new { @id = date.DA_Id, @fid=Model.CommonInvoice.CI_ConvertedFileId, cid=Model.CommonInvoice.CI_ID },null)" , class="text-nowrap btn btn-secondary">
                                                <i class="fas fa-edit"></i>Edit
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    }

                </div>
                <a href="@Url.Action("UpdateDates", "ConvertedFiles",new { @id ="" , fid=Model.File.FC_ID, cid = Model.CommonInvoice.CI_ID},null)" , class="text-nowrap btn btn-secondary">
                    <i class="fas fa-edit"></i> Add Dates
                </a>

            </div>


            <div class="row">
                <h3><span class="badge badge-info">Companies</span></h3>
                <div class="col-sm-12">
                    @if (Model.Companies.Count() == 0)
                    {
                        <div class="card border-warning mb-3" style="max-width: 20rem;">
                            <div class="card-header">No Companies Found</div>
                            <div class="card-body">
                                <p class="card-text">Although no Companies were found you can enter Companies by clicking below.</p>

                            </div>
                        </div>

                        <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>No Companies found</strong>
                        </div>
                    }
                    else
                    {
                        <table id="invoicecompanies" width="100%" class="table">
                            <thead>
                                <tr>
                                    <th>Errors</th>
                                    <th>Type</th>
                                    <th>Company Name</th>
                                    <th>Address(1)</th>
                                    <th>Address(2)</th>
                                    <th>City</th>
                                    <th>Post Code</th>
                                    <th>State</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var company in Model.Companies)
                                {
                                    <tr>
                                        <td>
                                            @if (company.CO_ErrorsFound)
                                            {
                                                <i class="errorfound-color fas fa-exclamation-circle"></i>
                                            }
                                            else
                                            {
                                                <text>&nbsp;</text>
                                            }
                                        </td>
                                        <td>
                                            @if (company.CO_CompanyType == null)
                                            {
                                                <text>----</text>
                                            }
                                            else
                                            {
                                                @company.CO_CompanyType.CT_CompanyType;
                                            }
                                        </td>
                                        <td>@company.CO_Name</td>
                                        <td>@company.CO_Address1</td>
                                        <td>@company.CO_Address2</td>
                                        <td>@company.CO_City</td>
                                        <td>@company.CO_PostCode</td>
                                        <td>@company.CO_State</td>
                                        <td>
                                            <a href="@Url.Action("UpdateCompany", "ConvertedFiles",new { @id = company.CO_ID, @convertId= Model.CommonInvoice.CI_ConvertedFileId, @invoiceID = Model.CommonInvoice.CI_ID },null)" , class="text-nowrap btn btn-info">
                                                <i class="fas fa-edit"></i>Edit
                                            </a>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>

                <a href="@Url.Action("UpdateCompany", "ConvertedFiles",new { @id ="" , @convertId= Model.CommonInvoice.CI_ConvertedFileId, @invoiceID = Model.CommonInvoice.CI_ID },null)" , class="text-nowrap btn btn-info">
                    <i class="fas fa-edit"></i> Add Companies
                </a>
            </div>

            <div class="row">
                <h3><span class="badge badge-dark">Invoice Lines</span></h3>
                <div class="col-sm-12">

                    @if (Model.Lines.Count() == 0)
                    {
                        <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>No Lines found</strong>
                        </div>
                    }
                    else
                    {

                        <table id="invoicelines" class="display">
                            <thead>
                                <tr>
                                    <th scope="col" style="width:5%">Errors</th>
                                    <th scope="col" style="width:7%">Line No.</th>
                                    <th scope="col">Code</th>
                                    <th scope="col">Barcode</th>
                                    <th scope="col" style="width:30%">Description</th>
                                    <th scope="col" style="width:10%">Ord. Qty</th>
                                    <th scope="col" style="width:10%">Pkg. Qty</th>
                                    <th scope="col" style="width:10%">Inv. Qty</th>
                                    <th scope="col">Unit Price</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var line in Model.Lines)
                                {
                                    <tr>
                                        <td>
                                            @if (line.OL_ErrorsFound)
                                            {
                                                <i class="errorfound-color fas fa-exclamation-circle"></i>
                                            }
                                            else
                                            {
                                                <text>&nbsp;</text>
                                            }
                                        </td>
                                        <td>

                                            @line.OL_LineNo
                                        </td>
                                        <td>@line.OL_ProductCode</td>
                                        <td>@line.OL_Barcode</td>
                                        <td>@line.OL_ProductDescription</td>
                                        <td>@line.OL_OrderedQty</td>
                                        <td>@line.OL_PackageQty</td>
                                        <td>@line.OL_InvoicedQty</td>
                                        <td>@line.OL_UnitPrice</td>
                                        <td>
                                            <a href="@Url.Action("UpdateLine", "ConvertedFiles",new { @id = line.OL_ID, @convertId = Model.CommonInvoice.CI_ConvertedFileId },null)" , class="btn btn-dark text-nowrap ">
                                                <i class="fas fa-edit"></i>Edit
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>


                        </table>
                    }
                </div>

            </div>
            <div class="row">
                <hr />
                <p />
                <hr />
            </div>
        </div>

    </div>
</div>






