﻿@model  DoxIn.Web.Models.FilteredConversionViewModel


@section styles {
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
}
@section scripts {
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>


    <script>
        $(document).ready(function () {
            $.fn.dataTable.moment('DD/MM/YYYY HH:mm');
            $('#convertedFileList').DataTable(
                {
                    stateSave: true,
                    "scrollY": "600px",
                    "scrollCollapse": true,
                    columnDefs: [{
                        targets: [0],
                        orderData: [0, 1]
                    }, {
                        targets: [1],
                        orderData: [1, 0]
                    }, {
                        targets: [4],
                        orderData: [4, 0]
                    }]
                }
            );

        });
    </script>
    <script>
        $(document).on('click', '#convertedFileList tbody tr', function (event) {
            $(this).addClass('highlight').siblings().removeClass('highlight');
        });
    </script>
}

    <div class="container internal">
        <h2>Incoming File Conversions</h2>

        <div class="row">
            <h5>Filter</h5>


        </div>
        <hr />
        @using (Html.BeginForm("Index", "ConvertedFiles", FormMethod.Get))
        {
            <div class="row bg-light">
                <div class="col col-sm3">
                    @Html.RadioButtonFor(m => m.DeletedFilter, "hidedeleted", new { @id = "hidedeleted", @checked = "checked" })
                    @*  @Html.RadioButton("deletedFilter", "hidedeleted", true,new {id="hidedeleted"})*@

                    <label for="hidedeleted">Hide marked for deleting</label>
                </div>
                <div class="col col-sm3">
                    @Html.RadioButtonFor(m => m.DeletedFilter, "showonlydeleted", new { @id = "deletedflags" })
                    @*    @Html.RadioButton("deletedFilter", "showonlydeleted", new { id = "deletedflags" })*@

                    <label for="deletedflags">Show those marked for deleting</label>
                </div>
                <div class="col col-sm3">
                    @Html.RadioButtonFor(m => m.DeletedFilter, "showall", new { @id = "showall" })
                    @*  @Html.RadioButton("deletedFilter", "showall", new { id = "showall" })*@

                    <label for="showall">Show all</label>
                </div>
            </div>
            <div class="row bg-filter">
                <div class="col col-sm3">
                    @Html.RadioButtonFor(m => m.ProcessedFilter, "hideprocessed", new { @id = "hideprocessed", @checked = "checked" })
                    @* @Html.RadioButton("processedFilter", "hideprocessed", true, new { id = "hideprocessed" })*@

                    <label for="hideprocessed">Show not processed</label>
                </div>
                <div class="col col-sm3">
                    @Html.RadioButtonFor(m => m.ProcessedFilter, "showonlyprocessed", new { @id = "showonlyprocessed" })
                    @*@Html.RadioButton("processedFilter", "showonlyprocessed", new { id = "showonlyprocessed" })*@


                    <label for="showonlyprocessed">Show only procesed</label>
                </div>
                <div class="col col-sm3">
                    @Html.RadioButtonFor(m => m.ProcessedFilter, "showallprocessed", new { @id = "showallprocessed" })
                    @* @Html.RadioButton("processedFilter", "showallprocessed", new { id = "showallprocessed" })*@
                    <label for="showallprocessed">Show All</label>
                </div>

            </div>
            <div class="row">
                <div class="col col-md-10 text-md-right">
                    <hr />
                    <input type="submit" value="Filter" />
                </div>
            </div>


        }
        <hr />
        <table id="convertedFileList" class="display table table-hover" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">Errors</th>
                    <th scope="col">Date Received</th>
                    <th scope="col">Original Filename</th>
                    <th scope="col">Document Identifier</th>
                    <th scope="col">Converted</th>
                    <th scope="col">Converted Date</th>
                    <th scope="col">Released</th>
                    <th scope="col">Release Date</th>
                </tr>
            </thead>
            <tbody>


                @foreach (var convertedFile in Model.ConvertedFile)
                {

                    <tr class="clickableRow">
                        <td>
                            @{ if (convertedFile.FC_ErrorsFound)
                                {
                                    <i class="errorfound-color fas fa-exclamation-circle"></i>
                                }
                            }
                        </td>
                        <td>

                            <a href="@Url.Action("Details", "ConvertedFiles", new { @id = convertedFile.FC_ID }, null)"><i class="fas fa-angle-double-right" , style="color:dodgerblue"></i>&nbsp;</a>
                        </td>
                        <td>

                            @Html.DisplayFor(modelItem => convertedFile.FC_DateReceived)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => convertedFile.FC_OriginalFileName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => convertedFile.FC_DocumentIdentifier)
                        </td>
                        <td>
                            @Html.CheckBoxFor(modelItem => convertedFile.FC_Converted, new { @disabled = "disabled" })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => convertedFile.FC_ConvertDate)
                        </td>
                        <td>
                            @Html.CheckBoxFor(modelItem => convertedFile.FC_Released, new { @disabled = "disabled" })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => convertedFile.FC_ReleaseDate)
                        </td>

                    </tr>
                }

            </tbody>
        </table>
    </div>



