﻿@model Doxin.Core.models.Company

@{
    ViewBag.Title = "Update Company Details";
}
<div class="container internal">
    
        <h2>Update Company</h2>
        <div class="col">

            File: (@ViewBag.ConvertedFile.FC_DocumentIdentifier)  &nbsp; &nbsp;
            @{
                if (!string.IsNullOrEmpty(ViewBag.ConvertedFile.FC_ImageFileLocation))
                {
                    <a href="~/@ViewBag.ConvertedFile.FC_ImageFileLocation" target="_blank">
                        @{
                            switch (ViewBag.ConvertedFile.FC_FileType)
                            {
                                case "PDF":<i class='far fa-file-pdf' style="color:red;"></i>

                                    break;
                                case "JPG":<i class="far fa-file-image" style="color:mediumblue;"></i>
                                    break;
                                case "XML":<i class="far fa-file-code" style="color:green;"></i>
                                    break;
                                default:<i class="fas fa-file-upload" style="color:black;"></i>
                                    break;

                            }
                        }
                        @ViewBag.ConvertedFile.FC_OriginalFileName.Trim().Substring(0, ViewBag.ConvertedFile.FC_OriginalFileName.IndexOf(".rpa")).@ViewBag.ConvertedFile.FC_FileType
                    </a>
                }
            }

        </div>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.CO_ID)
            @Html.Hidden("convertFileId", ViewBag.ConvertedFile!=null?(object)ViewBag.ConvertedFile.FC_ID:Guid.Empty.ToString())

            @Html.Hidden("invoiceId", ViewBag.InvoiceId != null ? (object)ViewBag.InvoiceId.ToString() : Guid.Empty.ToString());           
            <hr />
            <div class="row">
                <div class="form-group col-md-7">
                    @Html.LabelFor(model => model.CO_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.CO_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CO_Name, "", new { @class = "text-danger" })

                </div>
                <div class="form-group col-md-2">
                    @Html.LabelFor(model => model.CO_Code, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CO_Code, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CO_Code, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.CO_CompanyTypeId, htmlAttributes: new { @class = "control-label col-md-2 text-nowrap" })
                    <div class="col-md-10">

                        @Html.DropDownListFor(model => model.CO_CompanyTypeId, new SelectList(ViewBag.CompanyTypes.Items, "CT_ID", "CT_CompanyType", Model.CO_CompanyTypeId), "none selected", new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.CO_CompanyTypeId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <div class="col">
                    @Html.LabelFor(model => model.CO_Address1, htmlAttributes: new { @class = "control-label " })

                    @Html.EditorFor(model => model.CO_Address1, new { htmlAttributes = new { @class = "form-control " } })
                    @Html.ValidationMessageFor(model => model.CO_Address1, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    @Html.LabelFor(model => model.CO_Address2, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.CO_Address2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CO_Address2, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group row">
                <div class="col-md-10">
                    @Html.LabelFor(model => model.CO_Address3, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.CO_Address3, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CO_Address3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-5">
                    @Html.LabelFor(model => model.CO_City, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CO_City, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CO_City, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CO_PostCode, htmlAttributes: new { @class = "control-label col-md-2 text-nowrap" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CO_PostCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CO_PostCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CO_State, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CO_State, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CO_State, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-2">
                    @Html.LabelFor(model => model.CO_ContactName, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.CO_ContactName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CO_ContactName, "", new { @class = "text-danger" })
                </div>


                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.CO_EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.CO_EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CO_EmailAddress, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CO_Country, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.CO_Country, new SelectList(ViewBag.CountryList.Items, "Key", "Value", Model.CO_Country), "none selected", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CO_Country, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-save"></i> Save
                        </button>

                    </div>
                    <div class="col-md-6">
                        <a href="@Url.Action("Details", "ConvertedFiles", new { id =Model.CO_ID })" class="btn btn-danger float-right"><i class="fas fa-window-close" style="color: darkred"></i> Cancel</a>
                    </div>
                </div>
            </div>
            <hr />
            if (ViewBag.ErrorList != null)
            {
                <table class="table">
                    <thead>
                        <tr>

                            <th class="text-danger">Error Level</th>
                            <th class="text-danger">Tag</th>
                            <th class="text-danger">Error Message</th>
                            <th class="text-danger">Scanned Value</th>
                            <th class="text-danger">Expected</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var error in (ViewBag.ErrorList as List<Doxin.Core.models.ErrorMessage>))
                        {
                            <tr>
                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" name="ErrorAck" value="@error.EM_ID" class="custom-control-input" id="@error.EM_ID" checked="@error.EM_Acknowledged" />
                                        <label class="custom-control-label" for="@error.EM_ID"></label>
                                    </div>
                                </td>
                                <td class="text-danger">@error.EM_Level</td>
                                <td class="text-danger">@error.EM_TagName</td>
                                <td class="text-danger">@error.EM_Message</td>
                                <td class="text-danger">@error.EM_ScannedValue</td>
                                <td class="text-danger">@error.EM_ExpectedValue</td>

                            </tr>
                        }
                    </tbody>
                </table>
            }

        }
    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
