﻿@model Doxin.Core.models.CommonDate

@{
    ViewBag.Title = "UpdateDates";
}


    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
    </script>



<div class="container internal">
   
        <h2>Update Dates</h2>
        <div class="col">
            File: (@ViewBag.ConvertedFile.FC_DocumentIdentifier)  &nbsp; &nbsp;
            @{
                if (!string.IsNullOrEmpty(ViewBag.ConvertedFile.FC_ImageFileLocation))
                {
                    <a href="~/@ViewBag.ConvertedFile.FC_ImageFileLocation" target="_blank">
                        @{
                            switch (ViewBag.ConvertedFile.FC_FileType)
                            {
                                case "PDF":<i class='far fa-file-pdf' style="color:red;"></i>

                                    break;
                                case "JPG":<i class="far fa-file-image" style="color:mediumblue;"></i>
                                    break;
                                case "XML":<i class="far fa-file-code" style="color:green;"></i>
                                    break;
                                default:<i class="fas fa-file-upload" style="color:black;"></i>
                                    break;

                            }
                        }
                        @ViewBag.ConvertedFile.FC_OriginalFileName.Trim().Substring(0, ViewBag.ConvertedFile.FC_OriginalFileName.IndexOf(".rpa")).@ViewBag.ConvertedFile.FC_FileType
                    </a>
                }

            }

        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("convertFileId", (object)ViewBag.ConvertFileId.ToString())
            @Html.Hidden("InvoiceId", (object)ViewBag.InvoiceId.ToString())
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.DA_Id)
            <hr />
            <div class="row">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.DA_DateTypeId, htmlAttributes: new { @class = "control-label col-md-2 text-nowrap" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.DA_DateTypeId, new SelectList(ViewBag.DateTypes.Items, "DT_Id", "DT_DateType", Model.DA_DateTypeId), "none selected", new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group ">
                    @Html.LabelFor(model => model.DA_EstimateDate, htmlAttributes: new { @class = "control-label text-nowrap" })
                    <div class="col col-sm-10 mb-2">
                        @Html.EditorFor(model => model.DA_EstimateDate, new { htmlAttributes = new { @class = "form-control datecontrol" } })
                        @Html.ValidationMessageFor(model => model.DA_EstimateDate, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="form-group ">
                    @Html.LabelFor(model => model.DA_ActualDate, htmlAttributes: new { @class = "control-label text-nowrap" })
                    <div class="col col-sm-10 mb-2">
                        @Html.EditorFor(model => model.DA_ActualDate, new { htmlAttributes = new { @class = "form-control datecontrol" } })
                        @Html.ValidationMessageFor(model => model.DA_ActualDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-save"></i> Save
                        </button>

                    </div>
                    <div class="col-md-6">
                        <a href="@Url.Action("Details", "ConvertedFiles", new { id = ViewBag.ConvertFileID })" class="btn btn-danger float-right"><i class="fas fa-window-close" style="color: darkred"></i> Cancel</a>
                    </div>
                </div>
            </div>
            <hr />
            if (ViewBag.ErrorList != null)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-danger">Ack.</th>
                            <th class="text-danger">Error Level</th>
                            <th class="text-danger">Tag</th>
                            <th class="text-danger">Error Message</th>
                            <th class="text-danger">Scanned Value</th>
                            <th class="text-danger">Expected</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var error in (ViewBag.ErrorList as List<Doxin.Core.models.ErrorMessage>))
                        {
                            <tr>
                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" name="ErrorAck" value="@error.EM_ID" class="custom-control-input" id="@error.EM_ID" checked="@error.EM_Acknowledged" />
                                        <label class="custom-control-label" for="@error.EM_ID"></label>
                                    </div>
                                </td>
                                <td class="text-danger">@error.EM_Level</td>
                                <td class="text-danger">@error.EM_TagName</td>
                                <td class="text-danger">@error.EM_Message</td>
                                <td class="text-danger">@error.EM_ScannedValue</td>
                                <td class="text-danger">@error.EM_ExpectedValue</td>

                            </tr>
                        }

                    </tbody>
                </table>
            }
        }
    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
