﻿@model DoxIn.Web.Models.CommonInvoiceMasterDetail

@{
    ViewBag.Title = "Update Invoice Header";
}


<div class="container internal">
        <h2>Update Invoice/Order @Model.CommonInvoice.CI_InvoiceNo</h2>
        <div class="col">
            File: (@Model.File.FC_DocumentIdentifier)  &nbsp; &nbsp;
            @{
                if (!string.IsNullOrEmpty(Model.File.FC_ImageFileLocation))
                {
                    <a href="~/@Model.File.FC_ImageFileLocation" target="_blank">
                        @{
                            switch (Model.File.FC_FileType)
                            {
                                case "PDF":<i class='far fa-file-pdf' style="color:red;"></i>

                                    break;
                                case "JPG":<i class="far fa-file-image" style="color:mediumblue;"></i>
                                    break;
                                case "XML":<i class="far fa-file-code" style="color:green;"></i>
                                    break;
                                default:<i class="fas fa-file-upload" style="color:black;"></i>
                                    break;

                            }
                        }
                        @Model.File.FC_OriginalFileName.Trim().Substring(0, Model.File.FC_OriginalFileName.IndexOf(".rpa")).@Model.File.FC_FileType
                    </a>
                }
            }

        </div>
        @using (Html.BeginForm("UpdateHeader", "ConvertedFiles", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.File.FC_ID)
            @Html.HiddenFor(model => model.CommonInvoice.CI_ID)
            <hr />
            <div class="row">

                <div class="form-group mb-3">
                    @Html.LabelFor(model => model.CommonInvoice.CI_InvoiceNo, htmlAttributes: new { @class = "control-label text-nowrap" })
                    <div class="col ">
                        @Html.EditorFor(model => model.CommonInvoice.CI_InvoiceNo, new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.CommonInvoice.CI_InvoiceNo, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CommonInvoice.CI_ShipmentNo, htmlAttributes: new { @class = "control-label text-nowrap" })
                    <div class="col mb-3">
                        @Html.EditorFor(model => model.CommonInvoice.CI_ShipmentNo, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.CommonInvoice.CI_ShipmentNo, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CommonInvoice.CI_InvoiceTerms, htmlAttributes: new { @class = "control-label text-nowrap" })
                    <div class="col col-sm-5">
                        @Html.EditorFor(model => model.CommonInvoice.CI_InvoiceTerms, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.CommonInvoice.CI_InvoiceTerms, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.CommonInvoice.CI_TotalInvoiceAmount, htmlAttributes: new { @class = "control-label text-nowrap" })
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        @Html.EditorFor(model => model.CommonInvoice.CI_TotalInvoiceAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "0.00" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.CommonInvoice.CI_TotalInvoiceAmount, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CommonInvoice.CI_Currency, htmlAttributes: new { @class = "control-label text-nowrap" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.CommonInvoice.CI_Currency, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.CommonInvoice.CI_Currency, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CommonInvoice.CI_CountryOfOrigin, htmlAttributes: new { @class = "control-label text-nowrap" })
                    <div class="col mb-3">
                        @Html.DropDownListFor(model => model.CommonInvoice.CI_CountryOfOrigin, new SelectList(ViewBag.Countries.Items, "Key", "Value", Model.CommonInvoice.CI_CountryOfOrigin), "none selected", new { @class = "form-control" })
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-save"></i> Save
                        </button>

                    </div>
                    <div class="col-md-6">
                        <a href="@Url.Action("Details", "ConvertedFiles", new { id = Model.File.FC_ID })" class="btn btn-danger float-right"><i class="fas fa-window-close" style="color: darkred"></i> Cancel</a>
                    </div>
                </div>
            </div>
        }
    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
