﻿@model Doxin.Core.models.CommonOrderLine

@{
    ViewBag.Title = "UpdateLine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container internal">
   
        <h2>Update Line</h2>
        <div class="col">
            File: (@ViewBag.ConvertedFile.FC_DocumentIdentifier)  &nbsp; &nbsp;
            @{
                if (!string.IsNullOrEmpty(ViewBag.ConvertedFile.FC_ImageFileLocation))
                {
                    <a href="~/@ViewBag.ConvertedFile.FC_ImageFileLocation" target="_blank">
                        @{
                            switch (ViewBag.ConvertedFile.FC_FileType)
                            {
                                case "PDF":<i class='far fa-file-pdf' style="color:red;"></i>

                                    break;
                                case "JPG":<i class="far fa-file-image" style="color:mediumblue;"></i>
                                    break;
                                case "XML":<i class="far fa-file-code" style="color:green;"></i>
                                    break;
                                default:<i class="fas fa-file-upload" style="color:black;"></i>
                                    break;

                            }
                        }
                        @ViewBag.ConvertedFile.FC_OriginalFileName.Trim().Substring(0, ViewBag.ConvertedFile.FC_OriginalFileName.IndexOf(".rpa")).@ViewBag.ConvertedFile.FC_FileType
                    </a>
                }
            }
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Line No: @Model.OL_LineNo</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.OL_ID)
                @Html.Hidden("convertFileId", (object)ViewBag.ConvertFileId.ToString())
                <table>
                    <tr>
                        <td style="width:7%;">@Html.LabelFor(model => model.OL_LineNo, htmlAttributes: new { @class = "control-label text-nowrap" })</td>
                        <td>@Html.LabelFor(model => model.OL_ProductCode, htmlAttributes: new { @class = "control-label text-nowrap" })</td>
                        <td> @Html.LabelFor(model => model.OL_Barcode, htmlAttributes: new { @class = "control-label text-nowrap" })</td>
                        <td>@Html.LabelFor(model => model.OL_Tariff, htmlAttributes: new { @class = "control-label text-nowrap" })</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            @Html.EditorFor(model => model.OL_LineNo, new { htmlAttributes = new { @class = "form-control form-control-sm " } })
                            @Html.ValidationMessageFor(model => model.OL_LineNo, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.OL_ProductCode, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                            @Html.ValidationMessageFor(model => model.OL_ProductCode, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.OL_Barcode, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                            @Html.ValidationMessageFor(model => model.OL_Barcode, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.OL_Tariff, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                            @Html.ValidationMessageFor(model => model.OL_Tariff, "", new { @class = "text-danger" })
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="4">@Html.LabelFor(model => model.OL_ProductDescription, htmlAttributes: new { @class = "control-label text-nowrap" })</td>

                    </tr>
                    <tr>
                        <td colspan="4">

                            @Html.EditorFor(model => model.OL_ProductDescription, new { htmlAttributes = new { @class = "form-control form-control-sm col-md-10", @rows = "3" } })
                            @Html.ValidationMessageFor(model => model.OL_ProductDescription, "", new { @class = "text-danger" })
                        </td>

                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.OL_OrderedQty, htmlAttributes: new { @class = "control-label text-nowrap col-sm-10" })</td>
                        <td>@Html.LabelFor(model => model.OL_PackageQty, htmlAttributes: new { @class = "control-label text-nowrap" })</td>
                        <td>@Html.LabelFor(model => model.OL_InvoicedQty, htmlAttributes: new { @class = "control-label text-nowrap" })</td>
                        <td>@Html.LabelFor(model => model.OL_UnitPrice, htmlAttributes: new { @class = "control-label text-nowrap" })</td>
                        <td>@Html.LabelFor(model => model.OL_LineTotal, htmlAttributes: new { @class = "control-label text-nowrap" })</td>
                    </tr>
                    <tr>
                        <td>

                            @Html.EditorFor(model => model.OL_OrderedQty, new { htmlAttributes = new { @class = "form-control form-control-sm col-sm-8" } })
                            @Html.ValidationMessageFor(model => model.OL_OrderedQty, "", new { @class = "text-danger" })

                        </td>
                        <td>

                            @Html.EditorFor(model => model.OL_PackageQty, new { htmlAttributes = new { @class = "form-control form-control-sm col-sm-5" } })
                            @Html.ValidationMessageFor(model => model.OL_PackageQty, "", new { @class = "text-danger" })

                        </td>
                        <td>

                            @Html.EditorFor(model => model.OL_InvoicedQty, new { htmlAttributes = new { @class = "form-control form-control-sm col-sm-5" } })
                            @Html.ValidationMessageFor(model => model.OL_InvoicedQty, "", new { @class = "text-danger" })

                        </td>
                        <td>


                            @Html.EditorFor(model => model.OL_UnitPrice, new { htmlAttributes = new { @class = "form-control form-control-sm col-sm-9" } })
                            @Html.ValidationMessageFor(model => model.OL_UnitPrice, "", new { @class = "text-danger" })

                        </td>
                        <td>

                            @Html.EditorFor(model => model.OL_LineTotal, new { htmlAttributes = new { @class = "form-control form-control-sm col-sm-10" } })
                            @Html.ValidationMessageFor(model => model.OL_LineTotal, "", new { @class = "text-danger " })

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.OL_UnitOfMeasurement, htmlAttributes: new { @class = "control-label text-nowrap" })</td>
                        <td>@Html.LabelFor(model => model.OL_UnitWeight, htmlAttributes: new { @class = "control-label text-nowrap col-sm-10" })</td>
                        <td>@Html.LabelFor(model => model.OL_WeightUnit, htmlAttributes: new { @class = "control-label text-nowrap " })</td>
                        <td>@Html.LabelFor(model => model.OL_Volume, htmlAttributes: new { @class = "control-label text-nowrap" })</td>
                        <td>@Html.LabelFor(model => model.OL_VolumeUnit, htmlAttributes: new { @class = "control-label text-nowrap" })</td>

                    </tr>
                    <tr>
                        <td style="white-space:nowrap">
                            @Html.EditorFor(model => model.OL_UnitOfMeasurement, new { htmlAttributes = new { @class = "form-control " } })
                            @Html.ValidationMessageFor(model => model.OL_UnitOfMeasurement, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.OL_UnitWeight, new { htmlAttributes = new { @class = "form-control col-sm-10" } })
                            @Html.ValidationMessageFor(model => model.OL_UnitWeight, "", new { @class = "text-danger" })
                        </td>
                        <td>@Html.EditorFor(model => model.OL_WeightUnit, new { htmlAttributes = new { @class = "form-control col-sm-3" } })</td>
                        <td>
                            @Html.EditorFor(model => model.OL_Volume, new { htmlAttributes = new { @class = "form-control col-sm-10" } })
                        </td>
                        <td>@Html.EditorFor(model => model.OL_Volume, new { htmlAttributes = new { @class = "form-control col-sm-3" } })</td>

                    </tr>
                </table>
                <hr />
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-success">
                                <i class="fas fa-save"></i> Save
                            </button>

                        </div>
                        <div class="col-md-6">
                            <a href="@Url.Action("Details", "ConvertedFiles", new { id = ViewBag.ConvertFileID })" class="btn btn-danger float-right"><i class="fas fa-window-close " style="color: darkred"></i> Cancel</a>
                        </div>
                    </div>
                </div>
                @if (ViewBag.ErrorList != null)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-danger">Ack. Error</th>
                                <th class="text-danger">Error Level</th>
                                <th class="text-danger">Tag</th>
                                <th class="text-danger">Error Message</th>
                                <th class="text-danger">Scanned Value</th>
                                <th class="text-danger">Expected</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var error in (ViewBag.ErrorList as List<Doxin.Core.models.ErrorMessage>))
                            {

                                <tr>
                                    <td>
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" name="ErrorAck" value="@error.EM_ID" class="custom-control-input" id="@error.EM_ID" checked="@error.EM_Acknowledged" />
                                            <label class="custom-control-label" for="@error.EM_ID"></label>
                                        </div>
                                    </td>
                                    <td class="text-danger">@error.EM_Level</td>
                                    <td class="text-danger">@error.EM_TagName</td>
                                    <td class="text-danger">@error.EM_Message</td>
                                    <td class="text-danger">@error.EM_ScannedValue</td>
                                    <td class="text-danger">@error.EM_ExpectedValue</td>
                                    <td></td>
                                </tr>

                            }

                        </tbody>
                    </table>
                }


            </div>
        }

  
</div>
