﻿@using DoxIn.Web.Helpers
<nav id="sidebar">
    <div class="sidebar-header">
        <img src="/images/Doxin-Logo-small.png" alt="DoXin by CTC">
        <h4>By CTC</h4>
    </div>
    <ul class="nav flex-column">
        <p>Administration</p>
        <li class="@Html.IsSelected(actions: "Index", controllers: "Admin")">
            <a href="@Url.Action("Index","Admin")">
                <i class="fas fa-home"></i>Home
            </a>

        </li>
        <li class="@Html.IsSelected(actions: "Details,Index,UpdateCompany,UpdateHeader,UpdateDates,UpdateLine", controllers: "ConvertedFiles")">
            <a href="@Url.Action("Index","Customers")">
                <i class="fas fa-file-import"></i>
                Customers
            </a>
        </li>
        <li class="@Html.IsSelected(actions: "Create,Details,Edit, Index", controllers: "Account")">
            <a href="@Url.Action("ListUsers","Account")"><i class="fas fa-users"></i> Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu1"><i class="fas fa-cogs"></i> Settings</a>
            <div class="collapse" id="submenu1" aria-expanded="false">
                <ul class="flex-column pl-2 nav">
                    <li class="nav-item @Html.IsSelected(actions: "CompanyTypes", controllers: "Admin")">
                        <a href="@Url.Action("Index","CompanyTypes")"><i class="fas fa-building"></i> Company Types</a>
                    </li>
                    <li class="nav-item @Html.IsSelected(actions: "DataTypes", controllers: "Admin")">
                        <a href="@Url.Action("Index","DateTypes")"><i class="fas fa-calendar-check"></i> Date Types</a>
                    </li>
                    <li class="@Html.IsSelected(actions: "Roles", controllers: "Admin")">
                        <a href="@Url.Action("ListRoles","Account")"><i class="fas fa-user-shield"></i> Security Roles</a>
                    </li>

                </ul>

            </div>
        </li>
        

        <li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">
                    <i class="fas fa-sign-out-alt"></i>
                    Log Out

                </a>
            }

        </li>
       
    </ul>
</nav>
