﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - By CTC</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/7f456184fc.js" crossorigin="anonymous"></script>
    @RenderSection("scripts", required: false)

    @RenderSection("styles", required: false)

</head>
<body class="ctcbody">
    <div class="container">
        
            <div class="logo">
                <img src="~/images/Doxin-Logo.png" alt="Computer Technology Corporation Pty Ltd" />

            </div>
        
       
        <div class="row">



            <div class="centered">

                @RenderBody()

            </div>
            <hr />
            
        </div>
        <footer >
            <p>&copy; @DateTime.Now.Year - DoXin By CTC</p>
            <img src="~/images/ctc-logo-white.png" />
        </footer>
    </div>





    <script type="text/javascript">
        $(document).ready(function () {

            $('sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });

        });
    </script>

</body>
</html>