﻿@using DoxIn.Web.Helpers
<nav id="sidebar">
    <div class="sidebar-header">
        <img src="/images/Doxin-Logo-small.png" alt="DoXin by CTC">
        <h4>By CTC</h4>
    </div>
    <ul class="list-unstyled components">
        <p>Navigation</p>
        <li class="@Html.IsSelected(actions: "Index", controllers: "Home")">           
            <a href="@Url.Action("Index","Home")">
                <i class="fas fa-home"></i>Home
            </a>

        </li>
        <li class="@Html.IsSelected(actions: "Details,Index,UpdateCompany,UpdateHeader,UpdateDates,UpdateLine", controllers: "ConvertedFiles")">
            <a href="@Url.Action("Index","ConvertedFiles")">
                <i class="fas fa-file-import"></i>
                </i>Conversions
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-question-circle"></i>
                Help
            </a>
        </li>
        <li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">
                    <i class="fas fa-sign-out-alt"></i>
                    Log Out

                </a>
            }

        </li>
       

    </ul>
</nav>
