﻿@model DoxIn.Web.Models.ApplicationStatusMessage

@if (!string.IsNullOrEmpty(Model.Message))
{
    string cardType = Model.Success ? "border border-success mb-3" : "border border-warning mb-3";

    string header = Model.Success ? "Successfull" : "Warning";
    <div class="@cardType">

        <div class="card-header">@header</div>
        <div class="card-body">
            <h4 class="card-title">@Model.Operation</h4>
            <p class="card-text">@Model.Message</p>
        </div>
    </div>
}