﻿@model DoxIn.Web.Models.SummaryViewModel
@{
    ViewBag.Title = "Welcome to DoXin by CTC";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


    <div class="container internal">
        <span> At a Glance..</span>
        <div class="row">
            <table class="table " width="50%">
                <thead class="thead-dark">
                    <tr>
                        <th>Document Type</th>
                        <th>Processed</th>
                        <th>Total</th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var summ in Model.SummaryList)
                    {

                        <tr>
                            <td>@summ.DocumentType</td>
                            <td>
                                @Html.CheckBoxFor(s => summ.Processed, new { @disabled = "Disabled" })
                            </td>
                            <td>@summ.Total</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>



