﻿@model IEnumerable<DoxIn.Web.Models.ApplicationUserViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">

    </script>
    <script>
        $(document).ready(function () {
            $('#userList').DataTable(
                {
                    stateSave: true,
                    "scrollY": "600px",
                    "scrollCollapse": true,
                    columnDefs: [{
                        targets: [0],
                        orderData: [0, 1]
                    }, {
                        targets: [1],
                        orderData: [1, 0]
                    }, {
                        targets: [4],
                        orderData: [4, 0]
                    }]
                }
            );
        });
    </script>
    <script>
        $(document).on('click', '#userList tbody tr', function (event) {
            $(this).addClass('highlight').siblings().removeClass('highlight');
        });
    </script>
}
<h2>Currently Active Users</h2>
<div class="table-responsive">
    <table id="loggedInUsers" class="display table hover">
        <thead>
            <tr>
                <th role="col">Logged in</th>
                <th role="col">First Name</th>
                <th role="col">Last Name</th>
                <th role="col">Company Code</th>

            </tr>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => user.User.LastLoginTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.User.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.User.LastName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => user.User.CompanyCode)
                    </td>

                </tr>
            }
        </tbody>

        </thead>
    </table>
</div>

