﻿@model Doxin.Core.models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CU_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CU_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CU_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CU_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CU_ACTIVE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CU_ACTIVE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CU_ADDRESS1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CU_ADDRESS1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CU_ADDRESS2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CU_ADDRESS2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CU_ADDRESS3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CU_ADDRESS3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CU_CITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CU_CITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CU_PHONE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CU_PHONE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CU_EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CU_EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CU_INCOMINGCODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CU_INCOMINGCODE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CU_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
