﻿@model Doxin.Core.models.Customer

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Edit Customer</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.CU_ID);
    <div class="form-group">
        <div class="col-md-10">
            <div class="row">

                @Html.LabelFor(model => model.CU_CODE, htmlAttributes: new { @class = "control-label col-sm-2 text-nowrap" })
                <div class="col-sm-3">
                    @Html.EditorFor(model => model.CU_CODE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CU_CODE, "", new { @class = "text-danger" })
                </div>


                @Html.LabelFor(model => model.CU_INCOMINGCODE, htmlAttributes: new { @class = "control-label col-sm-3 text-nowrap " })
                <div class="col-sm-3">
                    @Html.EditorFor(model => model.CU_INCOMINGCODE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CU_INCOMINGCODE, "", new { @class = "text-danger" })
                </div>

            </div>

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CU_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CU_NAME, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CU_NAME, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.CU_ADDRESS1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p />
            @Html.EditorFor(model => model.CU_ADDRESS1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CU_ADDRESS1, "", new { @class = "text-danger" })
            <p />
            @Html.EditorFor(model => model.CU_ADDRESS2, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CU_ADDRESS2, "", new { @class = "text-danger" })
            <p />
            @Html.EditorFor(model => model.CU_ADDRESS3, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CU_ADDRESS3, "", new { @class = "text-danger" })

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CU_CITY, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CU_CITY, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CU_CITY, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 ">
            <div class="row">
                @Html.LabelFor(model => model.CU_STATE, htmlAttributes: new { @class = "control-label col-md-2" })

                <div class="col-sm-3">
                    @Html.EditorFor(model => model.CU_STATE, "", new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-sm-2 text-nowrap">
                    @Html.LabelFor(model => model.CU_POSTCODE, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-sm-3">
                    @Html.EditorFor(model => model.CU_POSTCODE, "", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.CU_PHONE, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-sm-3">
            @Html.EditorFor(model => model.CU_PHONE, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CU_PHONE, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CU_EMAIL, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CU_EMAIL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CU_EMAIL, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <div class="row">

                @Html.LabelFor(model => model.CU_ACTIVE, htmlAttributes: new { @class = "control-label col-md-1 text-nowrap" })
                <div class="checkbox">
                    @Html.EditorFor(model => model.CU_ACTIVE)
                    @Html.ValidationMessageFor(model => model.CU_ACTIVE, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-file-import"></i>  Save
            </button>
        </div>
    </div>
</div>
}

<div>
    <a href="@Url.Action("Index","Customers")" , class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Back to List</a>
</div>
