﻿@model IEnumerable<Doxin.Core.models.Customer>

@{
    ViewBag.Title = "Customer Listing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
}
@section scripts {
    <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">

    </script>
    <script>
        $(document).ready(function () {
            $('#customerList').DataTable(
                {
                    stateSave: true,
                    "scrollY": "600px",
                    "scrollCollapse": true,
                    columnDefs: [{
                        targets: [0],
                        orderData: [0, 1]
                    }, {
                        targets: [1],
                        orderData: [1, 0]
                    }, {
                        targets: [4],
                        orderData: [4, 0]
                    }]
                }
            );
        });
    </script>
    <script>
        $(document).on('click', '#customerList tbody tr', function (event) {
            $(this).addClass('highlight').siblings().removeClass('highlight');
        });
    </script>
}
<h2>Index</h2>

<p>
    <div>
        <a href="@Url.Action("Create","Customers")" class="btn btn-info"><i class="fas fa-file-import"></i>  Add New Customer</a>
        
    </div>
</p>
<div class="table-responsive">


    <table id="customerList" class="display table hover">
        <thead>
            <tr>
                <th></th>
                <th scope="col" class="text-nowrap col-form-label ">
                    @Html.DisplayNameFor(model => model.CU_CODE)
                </th>
                
                <th scope="col" class=" col-form-label ">
                    @Html.DisplayNameFor(model => model.CU_INCOMINGCODE)
                </th>
                <th scope="col" class="text-nowrap col-form-label ">
                    @Html.DisplayNameFor(model => model.CU_NAME)
                </th>
                <th scope="col" class="text-nowrap col-form-label ">
                    @Html.DisplayNameFor(model => model.CU_ACTIVE)
                </th>

                <th scope="col" class="text-nowrap col-form-label ">
                    @Html.DisplayNameFor(model => model.CU_CITY)
                </th>
                <th scope="col" class="text-nowrap col-form-label ">
                    @Html.DisplayNameFor(model => model.CU_PHONE)
                </th>
                <th scope="col" class="text-nowrap col-form-label ">
                    @Html.DisplayNameFor(model => model.CU_EMAIL)
                </th>
            </tr>
        </thead>        
        @foreach (var item in Model)
        {
    <tr class="clickableRow">
        <td>
            <a href="@Url.Action("Edit", "Customers",  new { @id = item.CU_ID }, null)"><i class="fas fa-angle-double-right" style="color:dodgerblue"></i>&nbsp;</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CU_CODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CU_INCOMINGCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CU_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CU_ACTIVE)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.CU_CITY)
        </td>
        <td class="text-nowrap">
            @Html.DisplayFor(modelItem => item.CU_PHONE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CU_EMAIL)
        </td>

        
    </tr>
        }

    </table>
</div>
